# JWT (mã ngẫu nhiên)
JWT_SECRET=

DATABASE_PASSWORD=

# Admin
ADMIN_EMAIL=admin@gmail.com
ADMIN_NAME=Mr.P
ADMIN_PASSWORD=123456

BANK_CODE=VCB
BANK_ACCOUNT_NO=0123456789
BANK_ACCOUNT_NAME=NGUYEN VAN A
# tên ngân hàng
# số tài khoản
# tên tài khoản

# tên email thật = pass ngẫu nhiên gg cấp
MAIL_USERNAME=
MAIL_PASSWORD=sdadasdas

# upload thư mục lưu file upload
UPLOAD_DIR=

# Firebase FCM
FIREBASE_SERVICE_ACCOUNT_JSON=